/node.js/note-app/node_modules
/react.js/monster-rolodex/class-component/node_modules
/react.js/monster-rolodex/functional-component/node_modules

/typescript/maps/node_modules
/typescript/maps/yarn.lock